.seacrhContainer {
  position: absolute;
  z-index: 2;
  right: 30%;
  width: 40%;
  top: 12px;
}

.searhcBarContainer {
  display: flex;
  align-items: center;
}

.searchBar,
.searchBar:focus {
  font-family: 'RobotoMono';
  color: #393838;
  font-size: 20px;
  background-color: var(--bgr-clr);
  border: 3px solid var(--brd-clr);
  border-radius: 20px;
  align-items: center;
  z-index: 2;
  width: 100%;
  padding: 15px 20px;
  outline: none;
}

.searchBar.active {
  font-family: 'BleekerCyrillic';
  font-size: 20px;
  font-weight: 500;
}

.searchBar:focus,
zs .searchBar.active {
  border-radius: 20px 20px 0 0;
}

.loop {
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: 10px;
  background-color: var(--brd-clr);
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding-top: 5px;
  z-index: 3;
}

.placesList {
  width: 99%;
  background-color: #fff;
  font-size: 17px;
  background-color: var(--bgr-clr);
  border: 3px solid var(--brd-clr);
  border-top: 0;
  border-radius: 0 0 20px 20px;
}

.placesListElement {
  display: flex;
  padding: 10px 20px;

  border-bottom: 3px solid var(--brd-clr);
  cursor: pointer;
}

.placesListElementMain {
  font-family: 'BleekerCyrillic';
  margin: 0;
  font-size: 20px;
}

.placesListElement:last-child {
  border: 0;
}

.adressText {
  margin: 0;
  font-size: 11px;
}

.categorieIcon {
  color: #393838;
  transform: scale(1.75);
}

.name {
  margin-left: 15px;
}
