.seacrhContainer {
  position: absolute;
  z-index: 2;
  right: 30%;
  width: 40%;
  top: 12px;
}

.searhcBarContainer {
  display: flex;
  align-items: center;
}

.searchBar {
  font-family: 'RobotoMono';
  color: #393838;
  font-size: 20px;
  background-color: rgba(195, 223, 221, 0.8);
  border: 3px solid rgb(17, 106, 123, 0.5);
  border-radius: 25px;
  align-items: center;
  z-index: 2;
  width: 100%;
  padding: 14px 20px;
  outline: none;
}

.searchBar:focus,
.searchBar.active {
  border-radius: 25px 25px 0 0;
}

.loop {
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: 10px;
  background-color: rgba(17, 106, 123, 0.5);
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding-top: 5px;
  z-index: 3;
}

.placesList {
  width: 99%;
  background-color: #fff;
  font-size: 17px;
  background-color: rgba(195, 223, 221, 0.8);
  border: 3px solid rgb(17, 106, 123, 0.5);
  border-top: 0;
  border-radius: 0 0 25px 25px;
}

.placesListElement {
  display: flex;
  padding: 10px 20px;
  border-bottom: 3px solid rgb(17, 106, 123, 0.5);
  cursor: pointer;
}

.placesListElement:last-child {
  border: 0;
}

.adressText {
  margin: 0;
  font-size: 11px;
}

.categorieIcon {
  color: #393838;
  transform: scale(1.5);
}

.name {
  margin-left: 10px;
}
