.controlButtons {
  background-color: var(--bgr-clr);
  border: 3px solid var(--brd-clr);
  border-radius: 20px;
  align-items: center;
  text-align: center;
  position: absolute;
  z-index: 2;
  right: 15px;
  top: 40%;
  padding: 8px;
}

.incrementButton,
.decrementButton {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: #393838;
  font-size: 30px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s;
}

.incrementButton:active,
.decrementButton:active {
  transition: 0.3s;
  transform: scale(0.8);
}
