.wantToGo {
  width: 100%;
  padding: 15px 20px;
  background-color: var(--brd-clr);
  border: 0;
  border-radius: 15px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 0;
}

.wantToGo:active {
  transition: 0.3s;
  transform: scale(0.9);
}
